### Ejemplo 20

In [2]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = {
    'edad': [25,30,35,40,45],
    'salario': [50000,55000,58000,62000,64000]
    
}

In [6]:
df = pd.DataFrame(data)
scaler=MinMaxScaler()

In [7]:
df_scaled = scaler.fit_transform(df)
df_scaled = pd.DataFrame(df_scaled, columns=df.columns)

In [8]:
print(df_scaled)

   edad   salario
0  0.00  0.000000
1  0.25  0.357143
2  0.50  0.571429
3  0.75  0.857143
4  1.00  1.000000