# Práctica 01

## Creación del conjunto de datos

In [9]:
import pandas as pd
import random
from datetime import datetime

In [10]:
# Crear listas con valores posibles para cada columna
fechas = [f"2021-{str(month).zfill(2)}" for month in range(1, 13)] * 42 
productos = ['Manzana', 'Leche', 'Pan', 'Platano', 'Jugo de Naranja']
categorias = ['Frutas', 'Lácteos', 'Panadería', 'Frutas', 'Bebidas']
municipios = ['Zacatecas', 'Guadalupe', 'Fresnillo','Tlaltenango','Jerez']
vendedores = ['Ana', 'Héctor', 'Francisco', 'Nora','Clauido']

In [11]:
# Inicializar listas vacías para almacenar los datos generados
lista_fechas = []
lista_productos = []
lista_categorias = []
lista_mun = []
lista_vendedores = []
lista_ventas = []
lista_unidades = []

In [12]:
# Generar 500 filas de datos
for _ in range(500):
    fecha = random.choice(fechas)
    producto = random.choice(productos)
    categoria = categorias[productos.index(producto)]  
    municipio = random.choice(municipios)
    vendedor = random.choice(vendedores)
    ventas = random.randint(50, 200)  # Ventas en dólares, entre 50 y 200
    unidades = random.randint(20, 100)  # Unidades vendidas, entre 20 y 100
    # Añadir los datos generados a las listas
    lista_fechas.append(fecha)
    lista_productos.append(producto)
    lista_categorias.append(categoria)
    lista_mun.append(municipio)
    lista_vendedores.append(vendedor)
    lista_ventas.append(ventas)
    lista_unidades.append(unidades)

In [13]:
# Crear un DataFrame de pandas con los datos
df = pd.DataFrame({
    'Fecha': lista_fechas,
    'Producto': lista_productos,
    'Categoría': lista_categorias,
    'Municipio': lista_mun,
    'Vendedor': lista_vendedores,
    'Ventas': lista_ventas,
    'UnidadesVendidas': lista_unidades
})

In [14]:
# Ver las primeras filas del DataFrame para asegurarnos de que se ha creado correctamente
print(df.head())

     Fecha         Producto Categoría  Municipio   Vendedor  Ventas  \
0  2021-12            Leche   Lácteos  Guadalupe    Clauido     188
1  2021-02            Leche   Lácteos      Jerez  Francisco      85
2  2021-09          Manzana    Frutas  Fresnillo  Francisco     106
3  2021-01  Jugo de Naranja   Bebidas  Fresnillo    Clauido      78
4  2021-05  Jugo de Naranja   Bebidas  Zacatecas        Ana      76

   UnidadesVendidas
0                44
1                34
2                56
3                45
4                35

In [ ]:
# Opcional: guardar el DataFrame en un archivo CSV
# df.to_csv('datos_ventas.csv', index=False)

## Actividades

### Drill-Down

In [15]:
print(df.groupby('Fecha')['Ventas'].sum().reset_index())

      Fecha  Ventas
0   2021-01    6321
1   2021-02    4930
2   2021-03    5392
3   2021-04    4340
4   2021-05    4969
5   2021-06    5374
6   2021-07    5246
7   2021-08    5009
8   2021-09    4925
9   2021-10    4378
10  2021-11    5572
11  2021-12    5784

In [16]:
#Drill-Down: Desglosar las ventas por `Fecha`, `Categoría`, y `Producto`.
print("\nDrill-Down")
drill_down = df.groupby(['Fecha','Categoría', 'Producto']).sum()
print(drill_down)

Drill-Down
                                   Ventas  UnidadesVendidas
Fecha   Categoría Producto
2021-01 Bebidas   Jugo de Naranja     393               219
        Frutas    Manzana            1044               487
                  Platano            1374               640
        Lácteos   Leche              2030               919
        Panadería Pan                1480               638
2021-02 Bebidas   Jugo de Naranja     849               362
        Frutas    Manzana             877               349
                  Platano             967               467
        Lácteos   Leche              1009               707
        Panadería Pan                1228               544
2021-03 Bebidas   Jugo de Naranja     583               414
        Frutas    Manzana             762               291
                  Platano            1136               536
        Lácteos   Leche              1312               775
        Panadería Pan                1599               577
2021-04 Bebidas   Jugo de Naranja    1199               524
        Frutas    Manzana             894               403
                  Platano             850               491
        Lácteos   Leche               388               139
        Panadería Pan                1009               395
2021-05 Bebidas   Jugo de Naranja     685               346
        Frutas    Manzana            1055               696
                  Platano            1219               557
        Lácteos   Leche               894               477
        Panadería Pan                1116               503
2021-06 Bebidas   Jugo de Naranja     757               411
        Frutas    Manzana            1522               681
                  Platano            1499               563
        Lácteos   Leche              1329               668
        Panadería Pan                 267               108
2021-07 Bebidas   Jugo de Naranja    1560               693
        Frutas    Manzana             950               424
                  Platano             519               326
        Lácteos   Leche              1087               371
        Panadería Pan                1130               785
2021-08 Bebidas   Jugo de Naranja    1235               382
        Frutas    Manzana            1014               390
                  Platano             854               532
        Lácteos   Leche               762               419
        Panadería Pan                1144               669
2021-09 Bebidas   Jugo de Naranja    1742               814
        Frutas    Manzana             856               432
                  Platano             688               358
        Lácteos   Leche               657               226
        Panadería Pan                 982               379
2021-10 Bebidas   Jugo de Naranja    1182               514
        Frutas    Manzana             506               303
                  Platano             710               373
        Lácteos   Leche               843               377
        Panadería Pan                1137               754
2021-11 Bebidas   Jugo de Naranja    1178               476
        Frutas    Manzana            1306               585
                  Platano            1768               715
        Lácteos   Leche               313               187
        Panadería Pan                1007               518
2021-12 Bebidas   Jugo de Naranja     834               486
        Frutas    Manzana            1603               715
                  Platano             583               290
        Lácteos   Leche              1210               469
        Panadería Pan                1554               819

/var/folders/hh/g6fqg94s6x9frs4dt49gl1rr0000gn/T/ipykernel_2252/28440412.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  drill_down = df.groupby(['Fecha','Categoría', 'Producto']).sum()

### Roll-Up

In [17]:
print(df.groupby('Municipio')['Ventas'].describe())

             count        mean        std   min    25%    50%     75%    max
Municipio
Fresnillo    102.0  124.941176  43.143285  51.0  88.50  124.0  159.50  196.0
Guadalupe     93.0  124.892473  43.524971  50.0  86.00  126.0  166.00  196.0
Jerez         88.0  125.204545  44.309559  52.0  85.00  125.5  157.25  199.0
Tlaltenango  113.0  125.672566  42.728470  51.0  93.00  128.0  162.00  199.0
Zacatecas    104.0  121.750000  43.910931  50.0  85.25  121.0  158.50  196.0

In [18]:
#Roll-Up: Ventas totales
print("\nRoll-Up")
roll_up = df.groupby('Municipio')['Ventas'].sum()
print(roll_up['Ventas'].sum())

Roll-Up
Municipio
Fresnillo      12744
Guadalupe      11615
Jerez          11018
Tlaltenango    14201
Zacatecas      12662
Name: Ventas, dtype: int64

### Slice and Dice

In [19]:
#Slice: ventas en región Zacatecas
print("\nSlice ")
slice_op = df[df['Municipio'] == 'Zacatecas']
print(slice_op)

Slice
       Fecha         Producto  Categoría  Municipio   Vendedor  Ventas  \
4    2021-05  Jugo de Naranja    Bebidas  Zacatecas        Ana      76
16   2021-09              Pan  Panadería  Zacatecas  Francisco     130
17   2021-04              Pan  Panadería  Zacatecas        Ana      68
21   2021-05          Manzana     Frutas  Zacatecas       Nora      60
22   2021-10              Pan  Panadería  Zacatecas    Clauido      63
..       ...              ...        ...        ...        ...     ...
467  2021-12              Pan  Panadería  Zacatecas  Francisco     151
484  2021-02  Jugo de Naranja    Bebidas  Zacatecas  Francisco     180
485  2021-03  Jugo de Naranja    Bebidas  Zacatecas        Ana     176
496  2021-03          Platano     Frutas  Zacatecas    Clauido     178
499  2021-10              Pan  Panadería  Zacatecas    Clauido     109

     UnidadesVendidas
4                  35
16                 63
17                 24
21                 68
22                 67
..                ...
467                83
484                68
485                53
496                62
499                62

[104 rows x 7 columns]

In [20]:
#Dice: Seleccionar ventas de frutas
print("\nDice ")
dice_op = df[(df['Categoría'] == 'Frutas') & (df['Municipio'] == 'Zacatecas')]
print(dice_op)

Dice
       Fecha Producto Categoría  Municipio   Vendedor  Ventas  \
21   2021-05  Manzana    Frutas  Zacatecas       Nora      60
24   2021-07  Platano    Frutas  Zacatecas    Clauido     147
31   2021-12  Platano    Frutas  Zacatecas     Héctor      50
42   2021-10  Platano    Frutas  Zacatecas     Héctor     163
89   2021-03  Manzana    Frutas  Zacatecas    Clauido     142
96   2021-02  Platano    Frutas  Zacatecas  Francisco      77
100  2021-12  Manzana    Frutas  Zacatecas     Héctor     184
101  2021-03  Platano    Frutas  Zacatecas       Nora     179
120  2021-08  Platano    Frutas  Zacatecas    Clauido      65
133  2021-01  Manzana    Frutas  Zacatecas    Clauido     195
144  2021-05  Platano    Frutas  Zacatecas  Francisco     196
162  2021-12  Manzana    Frutas  Zacatecas    Clauido      69
183  2021-09  Platano    Frutas  Zacatecas       Nora     135
184  2021-11  Platano    Frutas  Zacatecas       Nora     180
185  2021-01  Manzana    Frutas  Zacatecas    Clauido     118
186  2021-02  Platano    Frutas  Zacatecas        Ana     184
189  2021-10  Platano    Frutas  Zacatecas     Héctor     123
190  2021-11  Manzana    Frutas  Zacatecas    Clauido     107
194  2021-02  Platano    Frutas  Zacatecas        Ana     191
197  2021-08  Platano    Frutas  Zacatecas     Héctor      53
209  2021-09  Platano    Frutas  Zacatecas  Francisco     181
233  2021-04  Platano    Frutas  Zacatecas       Nora      83
268  2021-12  Manzana    Frutas  Zacatecas    Clauido      94
280  2021-08  Platano    Frutas  Zacatecas       Nora      98
281  2021-05  Platano    Frutas  Zacatecas    Clauido     171
282  2021-02  Platano    Frutas  Zacatecas       Nora     163
290  2021-09  Manzana    Frutas  Zacatecas     Héctor     122
293  2021-05  Platano    Frutas  Zacatecas       Nora      51
296  2021-06  Manzana    Frutas  Zacatecas    Clauido     120
314  2021-03  Manzana    Frutas  Zacatecas     Héctor      68
316  2021-09  Manzana    Frutas  Zacatecas       Nora     135
327  2021-08  Platano    Frutas  Zacatecas     Héctor     154
332  2021-01  Manzana    Frutas  Zacatecas       Nora     132
333  2021-03  Manzana    Frutas  Zacatecas       Nora     166
373  2021-06  Manzana    Frutas  Zacatecas        Ana     152
374  2021-09  Manzana    Frutas  Zacatecas    Clauido      93
384  2021-07  Manzana    Frutas  Zacatecas    Clauido     107
394  2021-01  Platano    Frutas  Zacatecas        Ana      94
413  2021-09  Manzana    Frutas  Zacatecas        Ana     134
416  2021-05  Manzana    Frutas  Zacatecas     Héctor      52
431  2021-01  Manzana    Frutas  Zacatecas       Nora     157
432  2021-07  Manzana    Frutas  Zacatecas       Nora     193
496  2021-03  Platano    Frutas  Zacatecas    Clauido     178

     UnidadesVendidas
21                 68
24                 92
31                 73
42                 39
89                 21
96                 42
100                32
101                76
120                79
133                39
144                91
162                74
183                71
184                65
185                98
186                97
189                51
190                34
194                23
197                71
209                93
233                81
268                79
280                20
281                47
282                79
290                34
293                76
296                52
314                37
316                22
327                66
332                38
333                49
373                88
374                95
384                58
394                31
413                91
416                46
431                58
432                80
496                62

### Pivot

In [21]:
#Pivote: Ventas por vendedor y fecha
print("\nPivot ")
pivot_op = pd.pivot_table(df, values='Ventas',index='Vendedor', columns='Fecha', aggfunc='sum')
print(pivot_op)

Pivot
Fecha      2021-01  2021-02  2021-03  2021-04  2021-05  2021-06  2021-07  \
Vendedor
Ana           1125     1104      679      680      644     1020     1087
Clauido       1204      498     1616      975     1492      687     1314
Francisco      697     1814     1302     1218      841     1966     1333
Héctor        1586      479      508      413     1262      983      735
Nora          1709     1035     1287     1054      730      718      777

Fecha      2021-08  2021-09  2021-10  2021-11  2021-12
Vendedor
Ana           1177      920      472     1137     1537
Clauido       1173     1209     1044     1458     1282
Francisco      905      786     1269      326      880
Héctor         808     1031      855     1881     1106
Nora           946      979      738      770      979

### Drill-Through

In [22]:
#Drill-Through: Registros individuales 2021-01 frutas
print("\nDrill-Through")
drill_through = df[(df['Categoría'] == 'Frutas') & (df['Fecha'] == '2021-01')]
print(drill_through)

Drill-Through
       Fecha Producto Categoría    Municipio   Vendedor  Ventas  \
12   2021-01  Platano    Frutas    Fresnillo    Clauido     196
27   2021-01  Platano    Frutas    Guadalupe     Héctor      63
44   2021-01  Manzana    Frutas  Tlaltenango     Héctor      65
49   2021-01  Platano    Frutas    Guadalupe       Nora     170
73   2021-01  Platano    Frutas    Guadalupe  Francisco      87
78   2021-01  Manzana    Frutas  Tlaltenango       Nora      78
130  2021-01  Platano    Frutas        Jerez       Nora     156
133  2021-01  Manzana    Frutas    Zacatecas    Clauido     195
135  2021-01  Manzana    Frutas    Fresnillo  Francisco     133
185  2021-01  Manzana    Frutas    Zacatecas    Clauido     118
222  2021-01  Platano    Frutas        Jerez     Héctor      64
250  2021-01  Platano    Frutas    Fresnillo        Ana     193
332  2021-01  Manzana    Frutas    Zacatecas       Nora     132
338  2021-01  Manzana    Frutas    Guadalupe  Francisco     166
349  2021-01  Platano    Frutas  Tlaltenango     Héctor     195
394  2021-01  Platano    Frutas    Zacatecas        Ana      94
420  2021-01  Platano    Frutas    Fresnillo     Héctor     156
431  2021-01  Manzana    Frutas    Zacatecas       Nora     157

     UnidadesVendidas
12                 94
27                 51
44                 86
49                 75
73                 22
78                 57
130                47
133                39
135                39
185                98
222                96
250                30
332                38
338                72
349                94
394                31
420               100
431                58

### Drill-Across

In [23]:
#Drill-Across: Esto requiere dos DataFrames
lista_inventario = []

# Generar 500 filas de datos
for _ in range(500):
    inventario = random.randint(200, 500) 
    # Añadir los datos generados a las listas
    lista_inventario.append(inventario)

In [25]:
# Crear un DataFrame de pandas con los datos
df2 = pd.DataFrame({
    'Fecha': lista_fechas,
    'Producto': lista_productos,
    'Inventario': lista_inventario,
})

In [26]:
# Ver las primeras filas del DataFrame para asegurarnos de que se ha creado correctamente
print(df2.head())

     Fecha         Producto  Inventario
0  2021-12            Leche         367
1  2021-02            Leche         204
2  2021-09          Manzana         399
3  2021-01  Jugo de Naranja         446
4  2021-05  Jugo de Naranja         343

In [27]:
#Aquí cruzamos datos de Ventas e Inventario para cada producto y fecha
print("\nDrill-Across ")
drill_across = pd.merge(df,df2, on=['Fecha', 'Producto'])

print(drill_across)

Drill-Across
        Fecha Producto Categoría  Municipio   Vendedor  Ventas  \
0     2021-12    Leche   Lácteos  Guadalupe    Clauido     188
1     2021-12    Leche   Lácteos  Guadalupe    Clauido     188
2     2021-12    Leche   Lácteos  Guadalupe    Clauido     188
3     2021-12    Leche   Lácteos  Guadalupe    Clauido     188
4     2021-12    Leche   Lácteos  Guadalupe    Clauido     188
...       ...      ...       ...        ...        ...     ...
4603  2021-04    Leche   Lácteos  Guadalupe  Francisco     145
4604  2021-04    Leche   Lácteos  Guadalupe  Francisco     145
4605  2021-04    Leche   Lácteos  Guadalupe       Nora     104
4606  2021-04    Leche   Lácteos  Guadalupe       Nora     104
4607  2021-04    Leche   Lácteos  Guadalupe       Nora     104

      UnidadesVendidas  Inventario
0                   44         367
1                   44         208
2                   44         214
3                   44         451
4                   44         448
...                ...         ...
4603                40         426
4604                40         456
4605                60         378
4606                60         426
4607                60         456

[4608 rows x 8 columns]

### Consolidación

In [28]:
#Consolidación: suma, promedio, max ventas y max unidades vendidas por vendedor
print("\nConsolidación ")
consolidation = df.groupby('Vendedor')['Ventas', 'UnidadesVendidas'].agg(['sum', 'mean', 'max'])
print(consolidation)

Consolidación
          Ventas                  UnidadesVendidas
             sum        mean  max              sum       mean  max
Vendedor
Ana        11582  128.688889  195             5452  60.577778   99
Clauido    13952  124.571429  198             6401  57.151786  100
Francisco  13337  127.019048  199             6182  58.876190  100
Héctor     11647  114.186275  196             6038  59.196078  100
Nora       11722  128.813187  197             5595  61.483516  100

/var/folders/hh/g6fqg94s6x9frs4dt49gl1rr0000gn/T/ipykernel_2252/4222722570.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  consolidation = df.groupby('Vendedor')['Ventas', 'UnidadesVendidas'].agg(['sum', 'mean', 'max'])

## Preguntas

1. **¿Qué insights puedes obtener de cada operación?**

El apartado de Drill-Down hace un agrupamiento de diferentes categorías ofreciendo una reprecentación en conjunto de los datos de una forma más consisa, el apartado de Roll-Up representa de una forma más sencilla un análisis simple del conjunto de datos, con los estadísticos más representativos y un dato significativo de una variable representativa,para el Slice and Dice se hace un enfoque en datos más específicos por division de categorias y variables específicas que muestran el resultado de una búsqueda más específica, en el caso de Pivot se hace un desglose del agrupamiento de datos de forma horizontal,para el Drill-Throught se enfoca en la agrupación de una búsqueda específica, Drill-Across hace una representación y un entrelazamiento entre dos dataframes, finalmente la consolidación expone un condensado del agrupamiento de datos para variables específicas.

2. **¿Cómo podrían estas insights beneficiar a la empresa?**

Estos datos pueden ayudar a la interpretación y el análisis de los datos de una forma más consisa, con una representación de los datos necesarios para el objetivo de la empresa.

3. **¿Qué otras métricas o dimensiones serían útiles para analizar?**

Modelos predictivos de datos enfocados al machine learning o dependiendo de los onjetivos de la empresa.