## Ejemplo 6

In [1]:
import pandas as pd

In [4]:
#Cargar los datos desde un archivo csv
df = pd.read_csv("data_ejemplo06.csv")

In [5]:
#Ver los primeros datos del dataframe
print("Datos originales: ")
print(df)
print()

Datos originales:
        Fecha Producto  Ventas Región
0  2023-01-01  Manzana     100  Norte
1  2023-01-01  Plátano     150  Norte
2  2023-01-02  Manzana     120    Sur
3  2023-01-02  Plátano     130    Sur
4  2023-01-01  Manzana     110    Sur
5  2023-01-01  Plátano     160    Sur
6  2023-01-02  Manzana     115  Norte
7  2023-01-02  Plátano     140  Norte

In [6]:
#Agregar ventas por producto (simulando un cubo GLAP)
print("Ventas totales por producto")
ventas_por_producto = df.groupby('Producto')['Ventas'].sum()
print(ventas_por_producto)
print()

Ventas totales por producto
Producto
Manzana    445
Plátano    580
Name: Ventas, dtype: int64

In [7]:
#Agregar ventas por región
print("Ventas totales por región:")
ventas_por_region = df.groupby('Región')['Ventas'].sum()
print(ventas_por_region)
print()

Ventas totales por región:
Región
Norte    505
Sur      520
Name: Ventas, dtype: int64

In [10]:
#Agregar ventas por producto y región
print("Ventas por producto y por región")
ventas_por_producto_y_region= df.groupby(['Producto','Región'])['Ventas'].sum().unstack()
print(ventas_por_producto_y_region)

Ventas por producto y por región
Región    Norte  Sur
Producto
Manzana     215  230
Plátano     290  290